<!DOCTYPE html>
<html>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/toys">Toys</a> |
        <a href="/login">Log In</a> |
        <a href="/register">Register</a> 
    </nav>
    <br>
<h2>Register Form</h2>

<form action="/register" method="POST">
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name" value="" placeholder="e.g: John Doe"><br><br>  
  <label for="email">Email</label><br>
  <input type="email" id="email" name="email" value="" placeholder="e.g: abc@mail.com"><br><br>
  <label for="password">Password</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>
